@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  background: #000;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #eee;
  text-transform: uppercase;
  font-family: 'Manjari', sans-serif;
  border-bottom: 3px solid transparent;
  margin-top: 3px;
}

.header a:hover {
  border-bottom: 3px solid #eee;
  transition: 1s;
  border-radius: 3px;
}

.slider {
  text-align: center;
  background: #549ec3;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  font-family: 'Manjari', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 75%;
  margin: 0 auto;
  font-family: 'Manjari', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.siteNumber2 {
  width: 75%;
  margin: 0 auto;
  font-family: 'Manjari', sans-serif;
  margin-top: 20px;
}

.siteNumber2 p {
  font-size: 16px;
}
